<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Discover movies of your taste here | Home :: Precog Movie Recommender</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Discover movies of your taste here | Home :: Precog Movie Recommender" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Bootstrap Core CSS -->
	<link href="/static/css-2/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="/static/css-2/style.css" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href="/static/css-2/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!--webfonts-->
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<!--//webfonts-->
</head>

<body>
	<!-- header -->
	<header>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="index.html">
					Precog Movies
				</a>
				<button class="navbar-toggler ml-lg-auto ml-sm-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav text-center ml-auto">
						<li class="nav-item active  mr-3">
							<a class="nav-link" href="http://127.0.0.1:5000/">About
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link scroll" href="http://127.0.0.1:5000/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link scroll" href="#contact">contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- //header -->
	<!-- banner -->
	<div class="banner" id="home">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info text-right">
					<h1 class="text-uppercase">Discover movies of your taste.</h1>
					<p class="text-white">This is a movie recommender tool in which you have to just show us your taste of movies and we will recommend best movies for you.</p>
					<a class="btn btn-agile  mt-4 scroll" href="http://127.0.0.1:5000/review" role="button">read more</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about-->
	<section class="wthree-row" id="about">
		<div class="row justify-content-center align-items-center no-gutters abbot-main">
			<div class="col-lg-6 p-0">
				<img src="/static/images-2/about.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 abbot-right px-md-5  py-lg-0 py-3">
				<div class="card">
					<div class="card-body px-lg-5">
						<h3 class="stat-title card-title align-self-center mb-sm-5 mb-3">Recommendations
							<br>A web app to recommend movies of your taste.</h3>
						<span class="w3-line"></span>
						<p class="card-text align-self-center my-4 text-white">
							This is a project based web app movie recommender, It is developed during the programming task of Precog - IIITD recruitment for membership</p>
						<p class="card-text align-self-center mb-5 text-white">This is a kind of minimialistic app in which you have to rate some movies so that we can guess your movie taste
							and then we will recommend you a movie according to your interest which you can prolly enjoy watching.
						</p>
						<input type="submit" value="Submit">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->
	<!-- why chosse us -->
	<div class="agileits-services py-5" id="choose">
		<div class="agileits-services-row row no-gutters py-md-3">
			<div class="offset-lg-1">
			</div>
			<div class="col-lg-2 col-md-6 pl-lg-0 pl-3 wthree-title services-head">
				<h3 class="stat-title pb-sm-5 pb-3 text-dark">Major Points</h3>
				<a href="http://127.0.0.1:5000/review" class="btn btn-agile abt_card_btn scroll">Know More</a>
			</div>
			<div class="col-lg-3">
				<div class="agileits-services-grids">
					<div class="services-top">
						<span class="fab fa-uniregistry"></span>
						<h4>Recommends Movies
						</h4>
					</div>
					<p>This is platform where you can just rate few movies and it will show you movies of your taste which you prolly haven't watched yet you won't regret watching them.
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="agileits-services-grids mt-md-0 mt-3">
					<div class="services-top">
						<span class="fab fa-uniregistry"></span>
						<h4>Strong Algo
						</h4>
					</div>
					<p>This platform is using one of the most prominent algorithms which is ALS-matrix factoristaion to make the predictions. Thanks to Belle and Koren sir for introducing this greate method.
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="agileits-services-grids mt-lg-0 mt-3">
					<div class="services-top">
						<span class="fab fa-schlix"></span>
						<h4>Nice Interface
						</h4>
					</div>
					<p>It is a ML implementation for predicting the movies which you can see in your web-browser instead of a cool black terminal :).
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //why choose us -->
	<!-- services -->
	<section class="about-w3ls py-md-5 pb-3" id="services">
		<div class="row">
			<div class="col-lg-8 section-3">
				<div class="col-lg-8 mx-auto py-lg-5">
					<h3 class="stat-title text-white">Technology Stack</h3>
					<div class="row">
						<div class="col-md-6 agileits-abt-grids my-5">
							<h4>Flask</h4>
							<p class="sec-4">In order to complete this project, I am using Flask and Jinja 2 pages, Flask because it is easy to use for small projects.
							</p>
						</div>
						<div class="col-md-6 agileits-abt-grids my-md-5">
							<h4>Python</h4>
							<p class="sec-4">Python is one of the most important tool in this project. All ML code and framework is based on python itself.
							</p>
						</div>
						<div class="col-md-6 agileits-abt-grids mt-md-0 mt-5">
							<h4>Database</h4>
							<p class="sec-4">I have choosen the PostgreSQL for database purposes, two reasons are there mongoDBatlas and mlab is slow in free versions and second is postgreSQL is relational database.
							</p>
						</div>
						<div class="col-md-6 agileits-abt-grids mt-md-0 mt-5">
							<h4>Huge Database</h4>
							<p class="sec-4">As precribed in the task, instead of using 200 movies database, I have choosen 10K movies with over 1.05 Lacs rating dummies from user data, because when I use 200 movies, even I as a human being is not able to see my results related.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4 img-section3 p-0 my-lg-auto mx-auto">
				<img src="/static/images-2/i4.png" alt="" class="img-fluid">
			</div>
		</div>
	</section>
	<!-- //services -->
	<!-- slide -->
	<div class="slide-wthree">
		<div class="container">
			<div class="slide-img">
				<img src="/static/images-2/i2.png" alt="" class="img-fluid">
			</div>
			<h3 class="stat-title text-lg-right text-center">Precog Movies</h3>

		</div>
	</div>
	<!-- //slide -->
	<!-- more -->
	<section class="about-w3ls pt-md-5 pt-3" id="more">
		<div class="row  position-relative">
			<div class="col-lg-4">
				<img src="/static/images-2/i1.png" alt="" class="img-section4 img-fluid">
			</div>
			<div class="col-lg-8 section-4">
				<div class="col-lg-8 mx-auto py-5">
					<h3 class="stat-title text-white">How to use this app</h3>
					<div class="agileits-abt-grids my-sm-5 mt-4 mb-5">
						<h4>Home Page</h4>
						<p class="sec-4">The page you are currently looking at is the home page, where yu can get a glimpse of about the app working.
						</p>
					</div>
					<div class="agileits-abt-grids my-5">
						<h4>Review Page</h4>
						<p class="sec-4">The next page when you click any of the "KNOW MORE" button is the review page inn which you can rate a random movie, rate it if its suits your taste else rate it bad, our algorithm will refinr that you dislike this movie, show you better movies.
						</p>
					</div>
					<div class="agileits-abt-grids mt-lg-0 mt-5">
						<h4>Final Page</h4>
						<p class="sec-4">It is the page where we will show you the predicted movies. Try out these movies by searching them on the IMdb websites for details.
						</p>
					</div>
					<div class="agileits-abt-grids mt-lg-0 mt-5">
						<h4>All together</h4>
						<p class="sec-4">It is the whole procedure about hw this app works and how you can get your movies, So, start exploring NOW!.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="blog_w3ls">
		<div class="row">
			<div class="offset-lg-1"></div>
			<div class="col-lg-5 p-5">
				<div class="row">
					<div class="col-md-6 my-md-4">
						<img src="/static/images-2/bl1.jpg" class="img-fluid" alt="" />
						<h5 class="blog-title card-title">
							Home Page
						</h5>
						<p>This is how Home Page looks like. </p>
					</div>
					<div class="col-md-6 my-4">
						<img src="/static/images-2/bl2.jpg" class="img-fluid" alt="" />
						<h5 class="blog-title card-title">
							Review Page
						</h5>
						<p>This is how one of the review page looks like.</p>
					</div>
					<div class="col-md-6 my-md-0 mt-4">
						<img src="/static/images-2/bl3.jpg" class="img-fluid" alt="" />
						<h5 class="blog-title card-title">
							Final Page -1
						</h5>
						<p>This is how Final Page upper side looks like. </p>
					</div>
					<div class="col-md-6 my-md-0 mt-4">
						<img src="/static/images-2/bl4.jpg" class="img-fluid" alt="" />
						<h5 class="blog-title card-title">
							Final Page-2
						</h5>
						<p>This is how the bottom part of final page looks like.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 sec-5 sec-5-right p-sm-5 p-3">
				<div class="card pt-lg-5">
					<div class="card-body px-sm-5">
						<h3 class="stat-title card-title align-self-center mb-sm-5 mb-3">Precog Movies
							<br> get your movie predictions here.</h3>
						<span class="w3-line"></span>
						<p class="card-text align-self-center my-sm-4 my-3 text-white">
								This is a project based web app movie recommender, It is developed during the programming task of Precog - IIITD recruitment for membership
						</p>
						<p class="card-text align-self-center mb-sm-5 mb-3 text-white">This is a kind of minimialistic app in which you have to rate some movies so that we can guess your movie taste
								and then we will recommend you a movie according to your interest which you can prolly enjoy watching.</p>
						<a href="http://127.0.0.1:5000/review" class="btn btn-agile abt_card_btn scroll">Know More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //more -->
	<!-- contact top -->
	<div class="contact-top text-center">
		<div class="content-contact-top">
			<h3 class="stat-title text-white">for more information</h3>
			<h2 class="stat-title text-white">Hit the KNOW MORE!</h2>
		</div>
	</div>
	<!-- //contact top -->
	<!-- contact -->
	<div class="w3-contact py-5" id="contact">
		<div class="container">
			<div class="row contact-form pt-md-5">
				<!-- contact details -->
				<div class="col-lg-6 contact-bottom d-flex flex-column contact-right-w3ls">
					<h5>get in touch</h5>
					<div class="fv3-contact">
						<div class="row">
							<div class="col-2">
								<span class="fas fa-envelope-open"></span>
							</div>
							<div class="col-10">
								<h6>email</h6>
								<p>
									<a href="mailto:example@email.com" class="text-dark">info@example.com</a>
								</p>
							</div>
						</div>
					</div>
					<div class="fv3-contact my-4">
						<div class="row">
							<div class="col-2">
								<span class="fas fa-phone-volume"></span>
							</div>
							<div class="col-10">
								<h6>phone</h6>
								<p>+XX XXXX XXXX</p>
							</div>
						</div>
					</div>
					<div class="fv3-contact">
						<div class="row">
							<div class="col-2">
								<span class="fas fa-home"></span>
							</div>
							<div class="col-10">
								<h6>address</h6>
								<p>Delhi, India</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 wthree-form-left my-lg-0 mt-5">
					<h5>send a mail</h5>
					<!-- contact form grid -->
					<div class="contact-top1">
						<form action="#" method="get" class="contact-wthree">
							<div class="form-group d-flex">
								<label>
									Name
								</label>
								<input class="form-control" type="text" placeholder="Ujjwal" name="email" required="">
							</div>
							<div class="form-group d-flex">
								<label>
									Email
								</label>
								<input class="form-control" type="email" placeholder="example@email.com" name="email" required="">
							</div>
							<div class="form-group d-flex">
								<label>
									Phone
								</label>
								<input class="form-control" type="text" placeholder="XXXX XXXX XX" name="email" required="">
							</div>
							<div class="form-group d-flex">
								<label>
									Message
								</label>
								<textarea class="form-control" rows="5" id="contactcomment" placeholder="Your message" required></textarea>
							</div>
							<div class="d-flex  justify-content-end">
								<button type="submit" class="btn btn-agile btn-block w-50">Submit</button>
							</div>
						</form>
					</div>
					<!--  //contact form grid ends here -->
				</div>

			</div>
			<!-- //contact details container -->
		</div>
	</div>
	<!-- //contact -->
	<!-- copyright -->
	<div class="cpy-right text-center">
		<p>© 2019 Precog Movies. All rights reserved | Design by
			<a href="#"> Precog-Moviess.</a>
		</p>
	</div>
	<!-- //copyright -->
	<!-- js-->
	<script src="/static/js-2/jquery-2.2.3.min.js"></script>
	<!-- js-->
	<!-- start-smooth-scrolling -->
	<script src="/static/js-2/move-top.js "></script>
	<script src="/static/js-2/easing.js "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll ").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			 var defaults = {
				 containerID: 'toTop', // fading element id
				 containerHoverID: 'toTopHover', // fading element hover id
				 scrollSpeed: 1200,
				 easingType: 'linear'
			 };
			 */

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script src="/static/js-2/SmoothScroll.min.js "></script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap Core JavaScript -->
	<script src="/static/js/bootstrap.js">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>

</html>
